<div>
    <div class="panel panel-default" style="width: 350px">
        <div class="panel-heading text-center"><b>Advertisement Preview</b></div>
        <div class="panel-body text-center">
            <div>
                <b><span id="LblAdvertisementTitle">Title section</span></b>
            </div>
            <br />
            <div>
                <span id="LblAdDescription">Description section</span>
            </div>
            <br />
            <div>
                <img id="ImgAdvertisementImage" src="~/_ImageUploads/Advertisements/Sample_NoImage.png" height="300" width="300" />
            </div>
            <br />
            <div>
                <span id="LblAdvertisementFooter">Footer section</span>
            </div>
        </div>
    </div>
</div>
