@model GCETNChapter.Models.ViewModels.Advertisement.AdvertisementVO
<script src="~/JQueryScripts/Advertisement/Advertisement.js"></script>

@{
    ViewBag.Title = "Advertisements";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-1"></div>
        <div id="divAdvertisementPage" class="form-horizontal partialBodySection hideDiv col-md-10">
            <br />

            <div id="divAddAdvertisement">
                <div class="col-md-6">
                    @Html.Partial("_AddEditAdvertisement")
                </div>
                <div class="col-md-6">
                    @Html.Partial("_DraftAdvertisement")
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>

}
