
@{
    ViewBag.Title = "Advertisements";
}

<div id="divAdvertisementsPage" class="form-horizontal partialBodySection">

    <div class="col-md-12">
        <h2> This page is not yet developed. Please contact the systems administrator for further details...</h2>
    </div>

</div>



