<script src="~/JQueryScripts/Advertisement/Advertisement.js"></script>

@{
    ViewBag.Title = "Advertisements";
}

<div id="divAdvertisementsPage" class="form-horizontal partialBodySection hideDiv">
    <br />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <h2> This page is not yet ready. Please contact the systems administrator for further details...</h2>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>



