<script src="~/JQueryScripts/Advertisement/Advertisement.js"></script>

@{
    ViewBag.Title = "Advertisements";
}

<div id="divAdvertisementsPage" class="form-horizontal partialBodySection hideDiv">
    <br />

    <div class="col-md-12 text-center">
        <h2> This page is not yet ready. Please contact the systems administrator for further details...</h2>
    </div>

</div>



