<script src="~/JQueryScripts/AboutUsPage.js"></script>
@{
    ViewBag.Title = "AboutUs";
}

<div id="divAboutUsPage" class="partialBodySection hideDiv">
    <div class="row text-center">
        <div class="col-md-4">
            <a href="#" id="LnkAboutUsGceTnTrust" class="aboutUsHeaderLinks"> GCE TN Tust </a>
        </div>
        <div class="col-md-4">
            <a href="#" id="LnkAboutUsFounderMessage" class="aboutUsHeaderLinks"> Founder Messasge </a>
        </div>
        <div class="col-md-4">
            <a href="#" id="LnkAboutUsTheBoardMembers" class="aboutUsHeaderLinks"> The Board Members </a>
        </div>
    </div>

    <hr />
    <div id="divGceTnTrust" style="display: none;">
        <h3>GCE TN TRUST</h3>
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
    </div>

    <div id="divFounderMessage" style="display: none;">
        <h3>FOUNDER MESSAGE</h3>
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
    </div>

    <div id="divTheBoardMembers" style="display: none;">
        <h3>THE BOARD MEMBERS</h3>
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
    </div>

</div>
