body {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #f9f9f9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hideDiv{
    display: none;
}

.grayBg{
    background-color: #f5f5f5;
}

.rowPadding{
    padding-top: 3px;
    padding-bottom: 3px;
}

.subHeadingSelector{
    border-bottom: 3px solid #428bca;
}

.brandFont{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #8d8b8b;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

.headerSection{
    padding-bottom: 0px;
    background-color: #ffffff;
    position: inherit;
    display: block;
    vertical-align: middle;
    top: 0;
}

.bodySection{
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.partialBodySection{
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffffff;
    min-height: 100%;
}

.footerSection{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #333;
    border-top: 8px solid #428bca;
    color: #ffffff;
    width: 100%;
    height: auto;
    bottom: 0;
}

.footerTextNormal{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}

.footerTextBold{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.footerImagePadding{
    padding: 5px 5px 5px 5px;
}

.menuitem{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding: 5px;
    vertical-align: bottom;
    text-align: right;
}

    .menuitem:hover {
        border-bottom: 4px solid red;
        background-color: #CCC;
        border-radius: 6px;
    }

.menuitemSelected{
    border-bottom: 4px solid red;
    border-radius: 6px;
}


/* LABELS, TEXTBOX, DROPDOWN AND TEXTAREA */

.formlabelFontRight{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    left: 0;
    padding: 5px 10px 5px 15px;
    font-weight: bold;
    text-align: right;
}

.formlabelFontLeft{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    left: 0;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    text-align: left;
}

.normalFontRight{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    left: 0;
    padding: 5px 10px 5px 15px;
    font-weight: normal;
    text-align: right;
}

.normalFontLeft{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    right: 0;
    padding: 5px 10px 5px 15px;
    font-weight: normal;
    text-align: left;
}

.tableHeaderFont{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
    padding: 3px;
    font-weight: bold;
}

.tableBodyFont{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
    padding: 3px;
    font-weight: normal;
    vertical-align: middle;
}

.headerText{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #333;
    left: 0;
    padding: 5px 5px 10px 15px;
    font-weight: normal;
    text-align: left;
    font-variant-caps: small-caps;
}

.headerTextGreen{
    font-family: 'Agency FB';
    font-size: 40px;
    color: #077e06;
    left: 0;
    padding: 5px 5px 10px 15px;
    font-weight: bold;
    text-align: left;
}

.scrollingImageText{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    font-weight: normal;
    border-radius: 10px;
}

.scrollingImgSize {
    max-height: 350px;
    min-height: 350px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.welcomeUser{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #428bca;
    padding: 2px 5px 2px 5px;
    font-weight: normal;
    text-align: left;
}

.editIcon{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    color: #428bca;
}
    .editIcon:hover {
        background-color: #f5f5f5;
        color: red;
    }

/*
.subMenuFont{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #428bca;
    padding: 9px;
    min-height: 20px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: inset;
    font-weight: normal;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}
*/

.dropdownstyle {
  display: inline;
  width: auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-left: 5px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.smallFont{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #333;
    padding: 3px;
    font-weight: normal;
    text-align: left;
}

.dateFormatText{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #428bca;
    padding: 3px;
    font-weight: bold;
    text-align: left;
    display: block;
}

.textareastyle {
    display: block;
    width: auto;
    height: 120px;
    border: 1px solid #cccccc;
    border-left: 5px solid #cccccc;
    padding: 6px 12px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #555555;
    border-radius: 4px;
}


/* LONG TEXT BOX STYLE */
.longtextbox {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-left: 5px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
    .longtextbox:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
    .longtextbox::-moz-placeholder {
        color: #999;
        opacity: 1;
    }
    .longtextbox:-ms-input-placeholder {
        color: #999;
    }
    .longtextbox::-webkit-input-placeholder {
        color: #999;
    }
    .longtextbox::-ms-expand {
        background-color: transparent;
        border: 0;
    }
    .longtextbox[disabled],
    .longtextbox[readonly],
    fieldset[disabled] .longtextbox {
        background-color: #eee;
        opacity: 1;
    }
    .longtextbox[disabled],
    fieldset[disabled] .longtextbox {
        cursor: not-allowed;
    }
textarea.longtextbox {
    height: auto;
}

.textboxerror {
    font-family: Tahoma;
    font-size: 13px;
    color: orangered;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: normal;
}

/* MEMBER LOGIN PAGE STYLES */
.headerbar{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    line-height: 30px;
    padding: 5px 10px 5px 10px;
    position: inherit;
    display: block;
    vertical-align: top;
    background-color: #337ab7;
}

.loginPanel{
    background: #f5f5f5;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 5px;
}

.contactUsBg{
    background: url("../../Images/OtherPages/ContactUsBg.jpg") no-repeat center;
    opacity: 0.6;
    max-height: 100%;
    height: 500px;
    max-width: 100%;
}


/* NEWS FEED STYLE */
.newsHeadline{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #edf0f5;
}

.newsDetail{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    padding: 30px;
    background-color: #edf0f5;
}

.enlargeImage{
    background-color: #ccc;
    border-radius: 20px;
    border: 2px solid #999;
}

/* Advertisement Styles */
.AdvertisementHeader{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

..AdvertisementDescription{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
}

.AdvertisementFooter{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.AdvertisementExpiry{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    font-style: italic;
    padding: 10px;
    background-color: #fff;
}