
<script src="~/JQueryScripts/CMA/WebContentManagement.js"></script>


@{
    ViewBag.Title = "CMA";
}

<div id="divCMAPage" class="partialBodySection hideDiv">
    <br />
    <span class="headerText">Web Content Management</span>
    <br /><br /><br />

    <h3 class="text-center"> This Page will be available soon </h3>

</div>



