
<!-- FOOTER SECTION-->
<div class="row footerSection col-md-12" style="margin-left: 0; margin-right: 0;">
    <div class="col-md-offset-2 col-md-2">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Images/FooterIcons/Visit.png" width="50" class="hidden" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="footerTextBold">Visit:</span>
                    </div>
                    <div class="col-md-12">
                        <span class="footerTextNormal">No. 1, Chennai Street, asdasdad</span>
                    </div>
                    <div class="col-md-12">
                        <span class="footerTextNormal">Chennai. India</span>
                    </div>
                    <div class="col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Images/FooterIcons/Call.png" width="50" class="hidden" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="footerTextBold">Call:</span>
                    </div>
                    <div class="col-md-12">
                        <span class="footerTextNormal">+91 123 456 7890</span>
                    </div>
                    <div class="col-md-12">
                        <span class="footerTextNormal">+ 1 888 123 4567</span>
                    </div>
                    <div class="col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Images/FooterIcons/FollowUs.png" width="50" class="hidden" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="footerTextBold">Follow Us:</span>
                    </div>
                    <div class="col-md-12">
                        <span class="footerTextNormal">on Social media</span>
                    </div>
                    <div class="col-md-12">
                        <img src="~/Images/FooterIcons/facebook.png" height="20" style="cursor: pointer;" title="Like us in Facebook" />
                        <img src="~/Images/FooterIcons/twitter.png" height="20" style="cursor: pointer;" title="Follow us on Twitter" />
                        <img src="~/Images/FooterIcons/googleplus.png" height="20" style="cursor: pointer;" title="Follow us in Google+" />
                        <img src="~/Images/FooterIcons/Whatsapp.png" height="20" style="cursor: pointer;" title="Follow us in Whatsapp" />
                    </div>
                    <div class="col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 footerTextNormal">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Images/FooterIcons/Copyright.png" width="45" class="hidden" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span>Copyright © 2017.</span>
                    </div>
                    <div class="col-md-12">
                        <span>All rights reserved.</span>
                    </div>
                    <div class="col-md-12">
                        <span>Created by <b>MR Solutions</b></span>
                    </div>
                    <div class="col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-offset-2"></div>
</div>
