
@using GCETNChapter.Models.DataAccess;

<!-- HEADER SECTION THAT WILL BE VISIBLE ONLY FOR MEMBERS ONCE LOGGED IN USING THEIR CREDENTIALS -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/Home/Index/">
                <img src="~/Images/logo_mini.png" height="40" />
                GCE TN Chapter
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="LnkEvents" class="menuitem">
                    <a href="~/Events/Events">Events</a>
                </li>
                <li id="LnkDonations" class="menuitem">
                    <a href="~/Donations/Donations">Donations</a>
                </li>
                <li id="LnkManageAccess" class="menuitem">
                    <a href="~/AccessManager/ManageAccess/">Manage Access</a>
                </li>
                <li id="LnkAdvertisements" class="menuitem">
                    <a href="~/Home/">Advertisements</a>
                </li>
                <li id="LnkNews" class="menuitem hidden">
                    <a href="~/Home/">TBD</a>
                </li>
                <li id="LnkMyProfile" class="menuitem">
                    <a href="~/MemberProfile/ManageProfile/">My Profile</a>
                </li>
                <li class="menuitem"></li>
                <li>
                    <div class="rowPadding body-content">
                        <div>
                            <p id="LblWelcomeUserMsg" class="welcomeUser"><span class="glyphicon glyphicon-user"></span> @GeneralFunctionsDA.TruncateString(Session["fullname"].ToString(), 12)</p>
                        </div>
                        <div>
                            <a href="~/MemberProfile/Logout/" id="LnkMemberLogin" class="welcomeUser"><span class="glyphicon glyphicon-log-in"></span> Sign Out </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>




<div class="row headerSection hidden">
    <div class="col-md-offset-1 col-md-2">
        <a href="~/Home/">
            <img src="~/Images/logo_home.png" class="img-responsive" />
        </a>
    </div>
    <div class="col-md-6 col-sm-8 navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li id="LnkHome" class="menuitem">
                <a href="~/Home/">EVENTS</a>
            </li>
            <li id="LnkAboutUs" class="menuitem">
                <a href="~/Donations/AddDonations">DONATIONS</a>
            </li>
            <li id="LnkGallery" class="menuitem">
                <a href="~/Home/">MANAGE ACCESS</a>
            </li>
            <li id="LnkEvents" class="menuitem">
                <a href="~/Home/">ADVERTISEMENTS</a>
            </li>
            <li id="LnkNews" class="menuitem">
                <a href="~/Home/">HISTORY</a>
            </li>
            <li id="LnkContactUs" class="menuitem">
                <a href="~/MemberProfile/MyProfile/">MY PROFILE</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 col-sm-4 text-right">
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <p id="LblWelcomeUserMsg">Welcome @Session["fullname"].ToString() <span class="glyphicon glyphicon-user" /></p>
        </div>
        <div class="col-md-12">
            <a href="~/MemberProfile/Logout/" id="LnkMemberLogout">Logout <span class="glyphicon glyphicon-log-out" /></a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>