
<!-- HEADER SECTION THAT WILL BE VISIBLE FOR GENERAL USERS -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="navbar-header col-md-2">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/">
                    <img src="~/Images/logo_home.png" class="img-responsive" />
                </a>
            </div>
            <div class="collapse navbar-collapse col-md-6" id="myNavbar">
                <ul class="nav navbar-nav text-right">
                    <li id="LnkHome" class="menuitem">
                        <a href="~/Home/">Home</a>
                    </li>
                    <li id="LnkAboutUs" class="menuitem">
                        <a href="~/Home/AboutUs">About Us</a>
                    </li>
                    <li id="LnkGallery" class="menuitem">
                        <a href="~/Home/">Gallery</a>
                    </li>
                    <li id="LnkEvents" class="menuitem">
                        <a href="~/Home/">Events</a>
                    </li>
                    <li id="LnkNews" class="menuitem">
                        <a href="~/Home/">News</a>
                    </li>
                    <li id="LnkContactUs" class="menuitem">
                        <a href="~/Home/ContactForm/">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 text-right">
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <p id="LblWelcomeUserMsg">Welcome Guest <span class="glyphicon glyphicon-user" /></p>
                </div>
                <div class="col-md-12">
                    <a href="~/MemberRegistration/Login/" id="LnkMemberLogin">Register / Member Login <span class="glyphicon glyphicon-log-in" /></a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</nav>


<div class="row headerSection hidden">

    <div class="col-md-3">
        <a href="~/Home/">
            <img src="~/Images/logo_home.png" height="100" />
        </a>
    </div>
    <div class="col-md-7 navbar-collapse collapse" style="vertical-align: bottom;">
        <ul class="nav navbar-nav navbar-right">
            <li id="LnkHome" class="menuitem">
                <a href="~/Home/">HOME</a>
            </li>
            <li id="LnkAboutUs" class="menuitem">
                <a href="~/Home/AboutUs">ABOUT US</a>
            </li>
            <li id="LnkGallery" class="menuitem">
                <a href="~/Home/">GALLERY</a>
            </li>
            <li id="LnkEvents" class="menuitem">
                <a href="~/Home/">EVENTS</a>
            </li>
            <li id="LnkNews" class="menuitem">
                <a href="~/Home/">NEWS</a>
            </li>
            <li id="LnkContactUs" class="menuitem">
                <a href="~/Home/ContactForm/">CONTACT US</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 text-right">
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <p id="LblWelcomeUserMsg">Welcome Guest <span class="glyphicon glyphicon-user" /></p>
        </div>
        <div class="col-md-12">
            <a href="~/MemberRegistration/Login/" id="LnkMemberLogin">Register / Member Login <span class="glyphicon glyphicon-log-in" /></a>
        </div>
    </div>
</div>
