
<div class="row">
    <br /><br /><br />
    <div class="text-center">
        <img src="~/Images/OtherPages/UnauthorizedAccess.png" height="100" />
    </div>
    <br /><br />
    <div class="text-center">
        <span class="headerText"> Sorry. You do not have access to view this page. Please contact the systems administrator to request for access. </span>
    </div>
</div>
