@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<br />
<hr />
<br />
<p>Action Name: @Model.ActionName</p>
<p>Controller Name: @Model.ControllerName</p>
<p>Exception: @Model.Exception</p>

