<script src="~/JQueryScripts/PublicPages/AboutUsPage.js"></script>

@{
    ViewBag.Title = "About Us";
}

<div id="divAboutUsPage" class="container partialBodySection hideDiv">
    <br />
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="#" id="LnkAboutUsGceTnTrust">
                <p class="well well-sm">
                    GCE TN Trust
                </p>
            </a>
        </div>

        <div class="col-md-3 text-center">
            <a href="#" id="LnkAboutUsFounderMessage">
                <p class="well well-sm">
                    Founder Messasge
                </p>
            </a>
        </div>

        <div class="col-md-3 text-center">
            <a href="#" id="LnkAboutUsTheBoardMembers">
                <p class="well well-sm">
                    The Board Members
                </p>
            </a>
        </div>
    </div>

    <hr />
    <div id="divGceTnTrust" class="hideDiv">
        <p class="headerText">Who We Are</p>
        <hr />
        <p>
            GCE TN Chapter Trust was established in Chennai, Tamil Nadu, India, on 24th July 2015 by a group of 5 old students of Ghousia College of Engineering,
            Ramanagaram, Karnataka, India, to support the economically underprivileged old students of Ghousia College of Engineering and other people,
            who live in / hail from Tamil Nadu, The Trust was founded by Mohamed Riyal from 88 Batch and ably supported by Mr. Vasan 84 batch,
            Mr. Charles Vijaykumar 85 batch, Mr. Abdul Rahim 87 batch and Mr. Syed Mehboob Basha 88 batch in setting up this Trust.
        </p>

        <br /><br />

        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/OtherPages/AboutUsGroupImg.png" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <p class="headerText">Vision</p>
                    <hr />
                    <p>
                        Our vision is to create self-sufficient society which can support the needy old students of
                        Ghousia College of Engineering Ramanagaram who live in or hail from Tamil Nadu.
                    </p>
                </div>

                <br />
                <div class="col-md-12">
                    <p class="headerText">Mission Statement</p>
                    <hr />
                    <p>
                        Our mission is to support the needy financially, in Job or career search , family counselling, etc.,
                        The mission can be achieved by creating or developing entrepreneurs amongst us, by providing technical
                        support or provide expert advice to those who require to run or develop their own business,
                        with the help of our GCE friends who have expertise in that field. To provide secondary source of income
                        by creating partnership between mutually interested and agreeable friends to join their existing business
                        or start a new venture. As our Trust evolves our vision and mission will become broader.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div id="divFounderMessage" class="hideDiv">
        <p class="headerText">Founder Message</p>
        <hr />

        <div class="row">
            <div class="col-md-6">
                <p>
                    At GCE TN TRUST we  deeply believe that we have to make room for those in urgent need….
                    that life is about evolving –its fine to want to be more rich, more cool or hip but
                    what’s the point of power, privilege and success if it doesn’t bring more compassion, more empathy more social responsibility.
                </p>
                <br />
                <p>
                    If each in our own way look beyond the confines of our personal domain, our families, our prosperity not
                    because it is noble or will give us good karma or ensure salvation but simply because it is humane ……
                </p>
                <br />
                <p>
                    We are enriched more  by what we give not  by our acquisitions and accumulated wealth.
                </p>
                <br />
                <p>
                    we blame ‘the system’ corruption, consumerism or rue how there is so much hunger and want all around …but  we look away too
                    easily …we have to remember that  society is ‘us’ not somebody out there … if we just go ahead and contribute whatever  we can,
                    it will  create small pools of positive action which together will add up to deeper current of meaningful change.
                </p>
                <br />
                <p>
                    There is a great need for each of us  to get involved and put our  shoulder against the wheel—it will make a difference !
                </p>
                <br />
                <p>
                    I see inspirational work all around–there are so many people working as non profits , corporates with CSR work,individuals with
                    commitment and passion and many people in the community. We need to share and work together so that change is amplified and outcomes
                    are magnifies and mor people join in —whether someone wants to give time or talent or money –what matters is that you take ownership
                    of the change you want to see . My personal inspiration is Gandhiji and his oft repeated quote—Be the change you want to see!
                </p>
                <br />
                <p>
                    Gratitude unlocks the fullness of life. It turns what we have into enough, and more. It turns denial into acceptance, chaos to order,
                    confusion to clarity. It can turn a meal into a feast, a house into a home, a stranger into a friend. Gratitude makes sense of our past,
                    brings peace for today, and creates a vision for tomorrow.
                </p>

            </div>
            <div class="col-md-4">
                <img src="~/Images/OtherPages/Founder.png" class="img-responsive" />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div id="divTheBoardMembers" class="hideDiv">
        <p class="headerText">Our Trust Members</p>
        <hr />

        <p>
            Trusts Management team includes Trustees and Board of Directors. Additional Board of Directors will be inducted after the general
            Body meeting to be held in July 16th 2016. Minimum of one member of each batch will be selected as board of directors.
        </p>

    </div>

</div>
