<script src="~/JQueryScripts/PublicPages/AboutUsPage.js"></script>

@{
    ViewBag.Title = "About Us";
}

<div id="divAboutUsPage" class="container partialBodySection hideDiv">
    <br />
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="#" id="LnkAboutUsGceTnTrust">
                <p class="well well-sm">
                    About GCE TN Trust
                </p>
            </a>
        </div>

        <div class="col-md-3 text-center">
            <a href="#" id="LnkAboutUsFounderMessage">
                <p class="well well-sm">
                    Founder Messasge
                </p>
            </a>
        </div>

        <div class="col-md-3 text-center">
            <a href="#" id="LnkAboutUsTheBoardMembers">
                <p class="well well-sm">
                    The Board Members
                </p>
            </a>
        </div>
    </div>

    <div id="divGceTnTrust" class="hideDiv">
        @Html.Partial("AboutUs/_AboutGCETNTrust")
    </div>

    <div id="divFounderMessage" class="hideDiv">
        @Html.Partial("AboutUs/_FounderMessage")
    </div>

    <div id="divTheBoardMembers" class="hideDiv">
        @Html.Partial("AboutUs/_TheBoardMembers")
    </div>

</div>
