<script src="~/JQueryScripts/AboutUsPage.js"></script>
@{
    ViewBag.Title = "About Us";
}

<div id="divAboutUsPage" class="partialBodySection hideDiv">
    <div class="row">
        <div class="col-md-2 text-center">
            <a href="#" id="LnkAboutUsGceTnTrust">
                <p class="well well-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                    GCE TN Tust
                </p>
            </a>
        </div>

        <div class="col-md-2 text-center">
            <a href="#" id="LnkAboutUsFounderMessage">
                <p class="well well-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Founder Messasge
                </p>
            </a>
        </div>

        <div class="col-md-2 text-center">
            <a href="#" id="LnkAboutUsTheBoardMembers">
                <p class="well well-sm">
                    <span class="glyphicon glyphicon-list"></span>
                    The Board Members
                </p>
            </a>
        </div>
    </div>

    <hr />
    <div id="divGceTnTrust" style="display: none;">
        <h3>GCE TN TRUST</h3>
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
        GCR TN TRUST <br />
    </div>

    <div id="divFounderMessage" style="display: none;">
        <h3>FOUNDER MESSAGE</h3>
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
        FOUNDER MESSAGE <br />
    </div>

    <div id="divTheBoardMembers" style="display: none;">
        <h3>THE BOARD MEMBERS</h3>
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
        THE BOARD MEMBERS <br />
    </div>

</div>
