
<script src="~/JQueryScripts/PublicPages/GalleryPage.js"></script>


<br />
 <div id="divGalleryPage" class="container partialBodySection hideDiv">
     <p class="headerText">GCE Gallery</p>
     <hr />

     <div class="row">
         <div class="col-md-12">
             <img src="~/_ImageUploads/Gallery/IMG-20170105-WA0000.jpg" height="400" class="img-responsive" />
         </div>
         <br />
         <div class="col-md-12">
             <img src="~/_ImageUploads/Gallery/IMG-20170105-WA0001.jpg" height="400" class="img-responsive" />
         </div>
     </div>
     
     <br />

     <div class="row">
         <div class="col-md-12">
             <img src="~/_ImageUploads/Gallery/IMG-20170105-WA0002.jpg" height="400" class="img-responsive" />
         </div>
         <br />
         <div class="col-md-12">
             <img src="~/_ImageUploads/Gallery/IMG-20170105-WA0003.jpg" height="400" class="img-responsive" />
         </div>
     </div>

     <br />

     <div class="row">
         <div class="col-md-12">
             <img src="~/_ImageUploads/Gallery/IMG-20170105-WA0004.jpg" height="400" class="img-responsive" />
         </div>
         <br />
         <div class="col-md-12">
             <img src="~/_ImageUploads/Gallery/IMG-20170105-WA0005.jpg" height="400" class="img-responsive" />
         </div>
     </div>

     <br />

     <div class="row">
         <div class="col-md-12">
             <img src="~/_ImageUploads/Gallery/IMG-20170105-WA0006.jpg" height="400" class="img-responsive" />
         </div>
         <br />
         <div class="col-md-12">
             <img src="~/_ImageUploads/Gallery/IMG-20170105-WA0007.jpg" height="400" class="img-responsive" />
         </div>
     </div>
 </div>
