<script src="~/JQueryScripts/HomePage.js"></script>

<div>
    <div class="w3-content w3-section">
        <div class="w3-display-container mySlides w3-animate-fading">
            <img src="~/Images/Scrolling/Image1.jpg" />
            <div class="w3-display-middle scrollingImageText text-center">
                <span class="headerText"> WELCOME TO </span><br />
                <span class="headerTextGreen"> GCE TN CHAPTER TRUST </span>
            </div>
        </div>

        <div class="w3-display-container mySlides w3-animate-fading">
            <img src="~/Images/Scrolling/Image2.jpg" />
            <div class="w3-display-middle scrollingImageText text-center">
                <span class="headerText"> OUR VISION </span><br />
                <p>
                    Our vision is to create self-sufficient society which can support the needy old students of
                    Ghousia College of Engineering Ramanagaram who live in or hail from Tamil Nadu... <a href="#">Read More...</a>
                </p>
            </div>
        </div>

        <div class="w3-display-container mySlides w3-animate-fading">
            <img src="~/Images/Scrolling/Image3.jpg">
            <div class="w3-display-middle scrollingImageText text-center">
                <span class="headerText"> OUR VISION </span><br />
                <p>
                    Our mission is to support the needy financially, in Job or career search , family counselling, etc., 
                    The mission can be achieved by creating or developing entrepreneurs amongst us, by providing technical 
                    support or provide expert advice to those who require to run or develop their own business, 
                    with the help of our GCE friends who have expe... <a href="#">Read More...</a>
                </p>
            </div>
        </div>

        <div class="w3-display-container mySlides w3-animate-fading">
            <img src="~/Images/Scrolling/Image4.jpg">
            <div class="w3-display-middle scrollingImageText text-center">
                Some Text will be added to this section ... <br />
                Some other text Over Here...
            </div>
        </div>

    </div>

    <script>
        $(function () {
            $('#LnkHome').addClass('menuitemSelected');
            $('#LnkAboutUs').removeClass('menuitemSelected');
            $('#LnkGallery').removeClass('menuitemSelected');
            $('#LnkEvents').removeClass('menuitemSelected');
            $('#LnkNews').removeClass('menuitemSelected');
            $('#LnkMembers').removeClass('menuitemSelected');
            $('#LnkContactUs').removeClass('menuitemSelected');
        });
    </script>
</div>

