
@{
    ViewBag.Title = "MessageSent";
}

<div class="container partialBodySection">

    <br /><br />
    <div class="row text-center">
        <img src="~/Images/MessageSent.png" width="100" />
    </div>
    <br />
    <div class="row text-center">
        <span class="text-info">@ViewBag.SuccessMessage</span>
    </div>
</div>