<script src="~/JQueryScripts/LoginPage.js"></script>

@{
    ViewBag.Title = "Login";
}


<div id="divLoginPage" class="partialBodySection hideDiv" style="background: url('../../Images/LoginBackground.jpg');">

    <div class="col-md-12" style="padding-top: 7%;"></div>

    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4 loginPanel">

            <div class="col-md-12">
                <div class="text-center">
                    <text class="formlabelFontLeft"> M E M B E R &nbsp;&nbsp;&nbsp; L O G I N </text>
                </div>
            </div>

            <br />

            <div class="col-md-12">
                <div class="text-left">
                    <text class="formlabelFontLeft"> Username </text>
                </div>
                <div class="text-left">
                    <input id="txtUsername" type="text" class="longtextbox" placeholder="Member Username" />
                </div>
            </div>

            <div class="col-md-12" style="padding: 8px;"></div>
            <div class="col-md-12">
                <div class="text-left">
                    <text class="formlabelFontLeft"> Password </text>
                </div>
                <div class="text-left">
                    <input id="txtPassword" type="password" class="longtextbox" placeholder="Member Password" />
                </div>
            </div>

            <div class="col-md-12" style="padding: 15px;"></div>
            <div class="col-md-12">
                <div class="text-left">
                    <input id="BtnLogin" type="button" class="btn btn-primary" value="Login" onclick="User_UserLogin();" />
                    &nbsp;&nbsp;
                    <a href="~/MemberRegistration/Registration/" class="btn btn-info">Not a member yet? Register...</a>
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>

        @if (ViewBag.Message != null)
        {
            <div class="col-md-3"></div>
            <div class="col-md-6 alert alert-danger text-center">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                @ViewBag.Message
            </div>
            <div class="col-md-3"></div>
        }
    </div>

    <div class="col-md-12" style="padding-top: 2%;"></div>
        
</div>