<script src="~/JQueryScripts/LoginPage.js"></script>

@{
    ViewBag.Title = "Login";
}


<div id="divLoginPage" class="partialBodySection hideDiv" style="background: url('../../Images/LoginBackground.jpg');">

    <div class="col-md-12" style="padding-top: 7%;"></div>

    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4 loginPanel">

            <div class="col-md-12">
                <div class="text-center">
                    <text class="formlabelFontLeft"> M E M B E R &nbsp;&nbsp;&nbsp; L O G I N </text>
                </div>
            </div>

            <br />

            <div class="col-md-12">
                <div class="text-left">
                    <text class="formlabelFontLeft"> Username </text>
                </div>
                <div class="text-left">
                    <input id="txtUsername" type="text" class="longtextbox" placeholder="Enter Username" maxlength="50" />
                </div>
            </div>

            <div class="col-md-12" style="padding: 8px;"></div>
            <div class="col-md-12">
                <div class="text-left">
                    <text class="formlabelFontLeft"> Password </text>
                </div>
                <div class="text-left">
                    <input id="txtPassword" type="password" class="longtextbox" placeholder="Enter Password" maxlength="50" />
                </div>
            </div>

            <div class="col-md-12" style="padding: 15px;"></div>
            <div class="col-md-12">
                <div class="text-left">
                    <input id="BtnLogin" type="button" class="btn btn-primary" value="Login" onclick="AuthenticateMember();" />
                    &nbsp;&nbsp;
                    <a href="~/MemberRegistration/Registration/" class="btn btn-info">Not a member yet? Register...</a>
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>

        <div>
            @Html.Partial("_SuccessErrorMessages")
        </div>


    </div>

    <div class="col-md-12" style="padding-top: 2%;"></div>
        
</div>

<!-- MODAL POPUP FOR Login-InProgress -->
<div id="LoginProgressModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <br /><br /><br />

                <span class="control-label"> Please wait while we log you in to member portal.</span>
                <br /><br />
                <div class="text-center">
                    <img src="~/Images/loading.gif" height="100" />
                </div>

                <br /><br /><br />
            </div>
        </div>

    </div>
</div>