<div>
    <p class="headerText">Who We Are</p>
    <hr />
    <p>
        GCE TN Chapter Trust was established in Chennai, Tamil Nadu, India, on 24th July 2015 by a group of 5 old students of Ghousia College of Engineering,
        Ramanagaram, Karnataka, India, to support the economically underprivileged old students of Ghousia College of Engineering and other people,
        who live in / hail from Tamil Nadu, The Trust was founded by Mohamed Riyal from 88 Batch and ably supported by Mr. Vasan 84 batch,
        Mr. Charles Vijaykumar 85 batch, Mr. Abdul Rahim 87 batch and Mr. Syed Mehboob Basha 88 batch in setting up this Trust.
    </p>

    <br /><br />

    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/OtherPages/AboutUsGroupImg.png" class="img-responsive" />
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <p class="headerText">Vision</p>
                <hr />
                <p>
                    Our vision is to create self-sufficient society which can support the needy old students of
                    Ghousia College of Engineering Ramanagaram who live in or hail from Tamil Nadu.
                </p>
            </div>

            <br />
            <div class="col-md-12">
                <p class="headerText">Mission Statement</p>
                <hr />
                <p>
                    Our mission is to support the needy financially, in Job or career search , family counselling, etc.,
                    The mission can be achieved by creating or developing entrepreneurs amongst us, by providing technical
                    support or provide expert advice to those who require to run or develop their own business,
                    with the help of our GCE friends who have expertise in that field. To provide secondary source of income
                    by creating partnership between mutually interested and agreeable friends to join their existing business
                    or start a new venture. As our Trust evolves our vision and mission will become broader.
                </p>
            </div>
        </div>
    </div>
</div>
