<div>
    <p class="headerText">Founder Message</p>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <p>
                At GCE TN TRUST we  deeply believe that we have to make room for those in urgent need….
                that life is about evolving –its fine to want to be more rich, more cool or hip but
                what’s the point of power, privilege and success if it doesn’t bring more compassion, more empathy more social responsibility.
            </p>
            <br />
            <p>
                If each in our own way look beyond the confines of our personal domain, our families, our prosperity not
                because it is noble or will give us good karma or ensure salvation but simply because it is humane ……
            </p>
            <br />
            <p>
                We are enriched more  by what we give not  by our acquisitions and accumulated wealth.
            </p>
            <br />
            <p>
                we blame ‘the system’ corruption, consumerism or rue how there is so much hunger and want all around …but  we look away too
                easily …we have to remember that  society is ‘us’ not somebody out there … if we just go ahead and contribute whatever  we can,
                it will  create small pools of positive action which together will add up to deeper current of meaningful change.
            </p>
            <br />
            <p>
                There is a great need for each of us  to get involved and put our  shoulder against the wheel—it will make a difference !
            </p>
            <br />
            <p>
                I see inspirational work all around–there are so many people working as non profits , corporates with CSR work,individuals with
                commitment and passion and many people in the community. We need to share and work together so that change is amplified and outcomes
                are magnifies and mor people join in —whether someone wants to give time or talent or money –what matters is that you take ownership
                of the change you want to see . My personal inspiration is Gandhiji and his oft repeated quote—Be the change you want to see!
            </p>
            <br />
            <p>
                Gratitude unlocks the fullness of life. It turns what we have into enough, and more. It turns denial into acceptance, chaos to order,
                confusion to clarity. It can turn a meal into a feast, a house into a home, a stranger into a friend. Gratitude makes sense of our past,
                brings peace for today, and creates a vision for tomorrow.
            </p>

        </div>
        <div class="col-md-4">
            <img src="~/Images/OtherPages/Founder.png" class="img-responsive" />
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
