<div>
    <p class="headerText">Our Trust Members</p>
    <hr />

    <p>
        Trusts Management team includes Trustees and Board of Directors. Additional Board of Directors will be inducted after the general
        Body meeting to be held in July 16th 2016. Minimum of one member of each batch will be selected as board of directors.
    </p>

    <br />

    <div>
        <div class="row">
            <div>
                <h4>Founder and CEO</h4>
            </div>
            <hr />

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>Mohamed Riyal</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/328Riyal.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>Founder</b>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>K.R.S. Vasan</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/246vasan.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>C.E.O</b>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

            </div>

            <div class="col-md-3">

            </div>
        </div>

        <br /><br />

        <div class="row">
            <div>
                <h4>General Secretary / Treasurer / Trustee </h4>
            </div>
            <hr />

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>T. S. Ravi Kumar </b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/664Ravi.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>General Secretary</b>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>M.A. Abdul Rahim</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/413Rahim.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>Treasurer</b>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>Syed Mehboob Basha</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/35mehaboob_basha.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>Trustee</b>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>P.L. Chokalingam</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/767ChockaLingam.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>Trustee</b>
                    </div>
                </div>
            </div>
        </div>
    
        <br /><br />

        <div class="row">
            <div>
                <h4>Directors</h4>
            </div>
            <hr />

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>J. Charles Vijaykumar</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/880charles.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>Director</b>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>Kaja Nizamudeen</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/317Khaja_nizambudhin.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>Director</b>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>Jafarullakhan</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/382jafrullahkhan.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>Director</b>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>Karuppannan</b>
                    </div>
                    <div class="panel-body">
                        <img src="~/Images/BoardMembers/41karupannan.png" style="height: 200px" />
                    </div>
                    <div class="panel-footer text-center">
                        <b>Director</b>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
