
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-4 formlabelFontRight">
                Access Role
            </div>            
            <div class="col-md-8">
                <input id="TxtAccessRole" type="text" class="form-control" placeholder="Access Role Name" maxlength="12" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 formlabelFontRight">
                Created By
            </div>            
            <div class="col-md-8 normalFontLeft">
                <span>@Session["username"].ToString()</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input id="BtnCancel" type="button" value="Cancel" class="btn btn-default" data-dissmiss="modal" />
                <input id="BtnCreateAccessRole" type="button" value="Create Access Role" class="btn btn-primary" />
            </div>
        </div>
    </div>
}