@model IEnumerable<GCETNChapter.Models.ViewModels.Advertisement.AdvertisementVO>
@using System.Globalization;

                <!-- ADVERTISEMENT -->
<div style="background-color: #fff;">
    <marquee direction="up" scrolldelay="200" onmouseover="this.stop();" onmouseout="this.start();" style="max-height: 400px; max-width: 400px; height: 100%; width: 100%;">

        @if (Model != null)
        {
            if (Model.Count() == 0 )
            {
                <div class="text-center">
                    <span>Sorry. There are no active advertisements to display in this section.</span>
                </div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="text-center">
                        <span class="AdvertisementHeader">@item.Title</span>
                        <br /><br />
                        <span class="AdvertisementDescription"> @item.Description </span>
                        <br /><br />
                        <img src=@("/_ImageUploads/Advertisements/" + item.ImageFileName) height="300" class="img-responsive" />
                        <br />
                        <span class="AdvertisementFooter"> @item.Footer </span>
                        <br />
                        <div class="AdvertisementExpiry hidden">
                            <span>Expires on @item.ExpiryDate.Value.ToShortDateString() (MM/DD/YYYY)</span>
                        </div>

                    </div>

                    <hr />
                }
            }
        }
    </marquee>
</div>

